extends layout

block content
  div
  form(action='/',method='get')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='name') Customer ID
           input(id='name',type='text',value='',placeholder='Type your username here',name='name')
     div(data-role='fieldcontain')   
      input(type='submit',value='RIDE NOW',data-transition='fade', data-theme='c')